@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&display=swap');
        
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: hsl(30, 38%, 92%);
}

h1 {
    font-family:'Fraunces', serif; 
}

p {
    font-family:'Montserrat', sans-serif; 
    font-size: 12px;
}

.priceXL {
    color: hsl(158, 36%, 37%);
}

#card {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 450px;
    box-shadow: 0px 2px 20px hsl(228, 12%, 48%);
    border-radius: 7%;
    margin-left: 20rem;
}

.image {
    position: absolute;
    left: 0rem;
}

img {
    height: 450px;
    width: 300px;
    object-fit: cover;
}

.info {
    position: absolute;
    height: 450px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    right: 0rem;
    padding: 30px;
}

.price {
    position: absolute;
    top: 15rem;
    left: 20rem;
    padding: 10px;
}

.strike-out {
    position: absolute;
    bottom: 2rem;
    left: 10rem;
    text-decoration: line-through;
}

.icon-cart {
    height: 10px;
    width: 10px;
    object-fit: cover;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}

.btn {
    position: absolute;
    top: 20rem;
    left: 22rem;
    padding-top: 10px;
}

.button {
  font-family: 'Montserrat', sans-serif;
  color: hsl(30, 38%, 92%);
  font-size: 13px;
  background: hsl(158, 36%, 37%);
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  border: 0px;
  border-radius: 12%;
}

.button:hover {
  background: hsl(30, 38%, 92%);
  color: hsl(158, 36%, 37%);
  text-decoration: none;
}

.attribution {
    position: relative;
    display: inline-block;
    margin-left: 30rem;
}

a {
    color:hsl(158, 36%, 37%);
}
